/* Reset */
/* Reset moderno */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100vh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
  color: var(--black-300);
  font-family: var(--font-family);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img, video {
  aspect-ratio: 16 / 9;
  object-fit: cover; 
  border-radius: 8px; 
}


img {
  content-visibility: auto;
  display: block;
  max-width: 100%;
  height: auto;  
}

video {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* Fuerza formato widescreen */
  display: block;  
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--black-300);  
}

.logo {
  width: 24px;
  height: 24px;
  fill: var(--black); 
  transition: fill 0.250s ease-in-out;
}

.icon:hover {
  fill: var(--primary-300);
}


