/* COLORES, TIPOGRAFÍAS, BREAKPOINTS */

:root {
  /* Colors */
  --primary-100: #FFA6BB;
  --primary-200: #FF2156;
  --primary-300: #FF0A44;
  --primary-400: #C80030;
  --primary-500: #530014;
  --primary-600: #1F1001;

  --black: #000000;
  --black-100: #050505;
  --black-200: #111111;
  --black-300: #151515;
  --black-400: #222222;
  --black-500: #444444;

  --white: #FFFFFF;
  --white-100: #EEEEEE;
  --white-200: #DDDDDD;
  --white-300: #CCCCCC;
  --white-400: #BBBBBB;
  --white-500: #AAAAAA;

  /* Typography */
  --font-family: 'Acumin Variable Concept', sans-serif;

  /* Breakpoints */
  --bp-desktop: 1200px;
}

:root {
  --bg-color: var(--black);
  --text-color: var(--white);
}