.icon {  
  color: var(--black-300);
}

.icon.large {
  width: 1.5rem;
  height: 1.5rem; 
}

.icon.regular {
  width: 1.25rem;
  height: 1.25rem; 
}

.icon.medium {
  width: 1rem;
  height: 1rem; 
}

.icon.small {
  width: .75rem;
  height: .75rem; 
}

.icon.tiny {
  width: .5rem;
  height: .5rem; 
}

.logo {
  width: 4rem;
  height: 4rem;  
}

.logo:hover {
  color: var(--primary-300);  
}